<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221722591872-lr3a5rl3830jt5nuqapmejcij7hlgo54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221722591872-lr3a5rl3830jt5nuqapmejcij7hlgo54</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>221722591872-8uef9o34ee6c150stnr60th7sl18o13o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOWc9AMTP6oY0rWfkPCKB3gdx7AQ48M9E</string>
	<key>GCM_SENDER_ID</key>
	<string>221722591872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koplanyidavid.QRTrainerTruck</string>
	<key>PROJECT_ID</key>
	<string>qrtrainertruck</string>
	<key>STORAGE_BUCKET</key>
	<string>qrtrainertruck.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221722591872:ios:b06acc8bf1df979f51dc65</string>
	<key>DATABASE_URL</key>
	<string>https://qrtrainertruck-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>